<%- include("includes/header"); %>

<div class="container">
    <div class="bemvindo">
    <h3>Seja bem vindo ao sistema mais especial da turma</h3>
    <img class="logo" src="/assets/Logo.jpg" alt="Logo">
    </div>
    
</div>

<%- include("includes/footer"); %>
