<%- include("includes/header"); %>

<body>
    <div class="container">
      <img src="/images/logo.png" alt="Sua Logo" class="logo">
      <p class="welcome-message">Bem-vindo ao nosso site!</p>
    </div>
  </body>
<%- include("includes/footer"); %>

