.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    max-width: 200px; /* Ajuste conforme necessário */
    display: block;
    margin: 0 auto 40px; /* Centraliza a logo horizontalmente e adiciona um espaço abaixo */
}

.welcome-message {
    font-size: 24px; /* Ajuste conforme necessário */
}
