
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-footer: #2B2C33;
    --botao-salvar-adicionar: #20c997;
    --fonte-titulo-footer: "Krona One", sans-serif;
    --fonte-texto-footer: "Roboto", sans-serif;
    --cor-titulo-footer: white;
    --cor-texto-footer: rgba(255, 255, 255, 0.596);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header {
    height: 150px;
    background-color: var(--botao-salvar-adicionar);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.header .menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 5px;
}

.container {
    min-height: calc(100vh - 56px - 100px);
    padding: 50px;
    padding-top: 50px;
}

.titulo-form {
    color: var(--botao-salvar-adicionar)
}

.footer {
    height: 200px;
    background-color: var(--cor-footer);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-footer{
    align-self: center;
}

.contact {
    margin-top: 35px;
}
.img-footer {
    max-height: 90%;
}

.titulo-footer {
    color: var(--cor-titulo-footer);
    font-family: var(--fonte-titulo-footer);
    font-size: 20px;
}

.texto-footer {
    color: var(--cor-texto-footer);
    margin-top: 20px;
    font-family: var(--fonte-texto-footer);
}

.icon-footer{
    display: flex;
    justify-content: space-evenly;
}

.icon-footer > a{
    font-size: 21px;
    color: var(--cor-titulo-footer);    
}

.concluido td:not(:last-child) {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.btn-primary {
    border: var(--botao-salvar-adicionar);
    background-color: var(--botao-salvar-adicionar);
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .centralized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Faz o contêiner ocupar 100% da altura da viewport */
    text-align: center;
  }
  
  .logo {
    width: 250px;
    height: 240px;
    margin-bottom: 20px; /* Ajuste a margem inferior conforme necessário */
  }
  
  .welcome-message {
    font-size: 34px;
    margin: 0; /* Remova a margem extra */
  }
  
  .other-content {
    padding: 20px;
    /* Outros estilos para o conteúdo adicional */
  }









