@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-family: 'Roboto', sans-serif;
}

.header {
    height: 150px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.header .menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 5px;
}

.container {
    width: 100%;
    padding: 50px;
    min-height: calc(100vh - 56px - 100px);
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-container {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-wrapper {
    padding-top: 45px;
    padding-inline: 45px;
    background-color: rgba(0, 0, 0, 0.702);
    border-radius: 10px;

    color: white;
    text-align: center;
}

.footer {
    height: 100px;
    background-color: #33333333;

}

.concluido td:not(:last-child) {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.botaoprimario {
    background-color: #20c997; /* Cor de fundo do botão */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 7px 25px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a sublinhado do texto */
    display: inline-block; /* Exibição em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor em forma de mão */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.botaoprimario:hover {
    background-color: #17a673;
    color: white;
}


/* Estilização do footer */
.footer-list {
    font-family: 'Arial';
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
}


#footer_content {
    background-color: #333333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#social_media {
    display: flex;
    gap: 2rem;
    height: 3rem;
}  